In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
file_path = "Resources/covid.csv"
df = pd.read_csv(file_path)
df

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566597,01ff60,2,1,13-05-2020,03-05-2020,9999-99-99,97,2,58,97,...,2,2,2,2,2,2,2,2,3,97
566598,047cd1,1,1,07-04-2020,06-04-2020,9999-99-99,97,2,48,2,...,2,2,2,2,2,2,2,2,3,97
566599,1beb81,1,2,14-05-2020,01-05-2020,9999-99-99,2,1,49,2,...,2,2,2,2,1,2,2,99,3,2
566600,16fb02,1,1,31-05-2020,29-05-2020,9999-99-99,97,1,43,2,...,2,2,2,2,2,2,2,2,3,97
566601,0021c9,2,1,16-05-2020,16-05-2020,9999-99-99,97,1,65,97,...,2,1,2,2,1,2,2,2,3,97

In [8]:
df.isnull().sum()

id                     0
sex                    0
patient_type           0
entry_date             0
date_symptoms          0
date_died              0
intubed                0
pneumonia              0
age                    0
pregnancy              0
diabetes               0
copd                   0
asthma                 0
inmsupr                0
hypertension           0
other_disease          0
cardiovascular         0
obesity                0
renal_chronic          0
tobacco                0
contact_other_covid    0
covid_res              0
icu                    0
dtype: int64

In [9]:
# dataframe where all rows are pregnant patients
df_pregnant = df.loc[df['pregnancy'] == 1]
df_pregnant

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
86,0aa8e2,1,2,19-04-2020,16-04-2020,9999-99-99,2,2,29,1,...,2,2,2,2,2,2,2,99,1,2
241,10af4b,1,1,22-04-2020,17-04-2020,9999-99-99,97,2,25,1,...,2,2,2,2,2,2,2,99,1,97
647,003b48,1,1,17-04-2020,14-04-2020,9999-99-99,97,2,31,1,...,2,2,2,2,2,2,2,99,1,97
713,121414,1,1,08-04-2020,05-04-2020,9999-99-99,97,2,25,1,...,2,2,2,2,2,2,2,99,1,97
973,1aa543,1,1,07-05-2020,06-05-2020,9999-99-99,97,2,27,1,...,2,2,2,2,1,2,2,99,1,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565663,08b43c,1,1,26-06-2020,23-06-2020,9999-99-99,97,2,29,1,...,2,2,2,2,2,2,2,99,3,97
565685,1d901c,1,1,26-06-2020,24-06-2020,9999-99-99,97,2,22,1,...,2,2,2,2,2,2,2,2,3,97
565874,1cf5f5,1,1,26-06-2020,25-06-2020,9999-99-99,97,2,18,1,...,2,2,2,2,2,2,2,2,3,97
565965,2.90E+28,1,1,29-06-2020,29-06-2020,9999-99-99,97,2,21,1,...,2,2,2,2,2,2,2,2,3,97
566090,1ab07a,1,1,24-05-2020,17-05-2020,9999-99-99,97,2,42,1,...,2,2,2,2,2,2,2,2,3,97

In [10]:
# checking the values of the sex column where 1 is female and 2 is male
df_pregnant.sex.value_counts()

1    4063
Name: sex, dtype: int64

In [11]:
df['covid_res'].value_counts()

2    279035
1    220657
3     66910
Name: covid_res, dtype: int64

In [12]:
# Change dae_died column to categorical data "9999-99-99" to 0 and row with date to 1
df.loc[df.date_died == "9999-99-99", "date_died"] = 0

In [13]:
df.loc[df.date_died != 0, "date_died"] = 1

In [14]:
df

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,0,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,0,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,0,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,0,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,1,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566597,01ff60,2,1,13-05-2020,03-05-2020,0,97,2,58,97,...,2,2,2,2,2,2,2,2,3,97
566598,047cd1,1,1,07-04-2020,06-04-2020,0,97,2,48,2,...,2,2,2,2,2,2,2,2,3,97
566599,1beb81,1,2,14-05-2020,01-05-2020,0,2,1,49,2,...,2,2,2,2,1,2,2,99,3,2
566600,16fb02,1,1,31-05-2020,29-05-2020,0,97,1,43,2,...,2,2,2,2,2,2,2,2,3,97
566601,0021c9,2,1,16-05-2020,16-05-2020,0,97,1,65,97,...,2,1,2,2,1,2,2,2,3,97

In [15]:
df['date_died'].value_counts()

0    530426
1     36176
Name: date_died, dtype: int64

In [16]:
new_df = df.drop(["entry_date", "date_symptoms"], axis=1)
new_df.head()

,id,sex,patient_type,date_died,intubed,pneumonia,age,pregnancy,diabetes,copd,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,0,97,2,27,97,2,2,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,0,97,2,24,97,2,2,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,0,2,2,54,2,2,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,0,2,1,30,97,2,2,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,1,2,2,60,2,1,2,...,2,1,2,1,2,2,2,99,1,2

In [18]:
output_file_path = "Resources/slightly_cleaned_covid.csv"
new_df.to_csv(output_file_path, index=False)